.background {
    background-image: repeating-linear-gradient(-45deg, white 2px, white 7px, #E3F7D4 15px, #E3F7D4 8px);
}
.container {
    padding: 10px;
    max-width: 90%;
    margin: 0px auto 0px auto;
    width: auto;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: #340D09;
    background-color: #E3F7D4;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #340D09;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    color: #B82214;
}
h2 {
    text-align: center;
    background-color: #66B032;
    border: 6px;
    border-style: solid;
    border-color: #66B032;
    border-radius: 3px;
    color: white;   
}
h3 {
    text-align: center;
    color: #B82214;
}
p {
    padding-left: 50px;
    padding-right: 50px;
    color: #340D09;
}
.certifications {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.certifications li{
    display: inline;
}
.certifications li a {
    text-decoration: none;
}
.cert-image {
    border: ridge 4px;
    border-color: #340D09;
    margin-left: 2px;
    margin-right: 2px;
}
.cert-image:hover, .cert-image:active, .cert-image:focus {
    border-color: white;
    background-color: #340D09;
}
.navbar {
    border: 8px;
    border-style: solid;
    border-color: #B82214;
    border-radius: 10px;
    background-color: #B82214;
}
.navbar ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 350px;
    word-spacing: 30px;
    text-align: justify;
}
.navbar ul a{
    text-decoration: none;
}
.navbar ul li{
    display: inline;
    color:  white;
    font-weight: bold;
}
.navbar ul li:hover, .navbar ul li:active, .navbar ul li:focus {
    background-color: white;
    color: #340D09;
}
.skills-table {
    display: block;
    border-collapse: collapse;
    border-spacing: 5px;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
}
.skills-table tr:nth-child(even) {
    background-color: white;
}
.skills-table th {
    padding: 5px;
    background-color: #B82214;
    color: white;
    text-align: left;
}
.skills-table td {
    color: #340D09;
    text-align: left;
}
#ref-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}