.background {
    background-color: aliceblue;
}
.container {
    background-color: slategray;
    color: black;
    max-width: 86%;
    width: auto;
    margin: auto;
}
.h1 {
    color: blue;
}
.h2 {
    color: black;
}
.certifications {
    position: relative;
    left: 10%;
}
.cert-image {
    border: ridge 3px;
    border-color: black;
    margin-left: 2px;
    margin-right: 2px;
}