.container {
    padding: 10px;
    max-width: 80%;
    margin: 0px auto 0px auto;
    width: auto;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #010101;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;   
}
h3 {
    text-align: center;
}
.certifications {
    margin-left: auto;
    margin-right: auto;
}
.cert-image {
    border: ridge 3px;
    border-color: black;
    margin-left: 2px;
    margin-right: 2px;
}
.navbar {
    border-top: 10px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    background-color: red;
}
.navbar ul {
    word-spacing: 20px;
    text-align: justify;
}
.navbar ul a{
    text-decoration: none;
}
.navbar ul li{
    display: inline;
    color:  white;
    font-weight: bold;
}
.navbar ul li:hover{
    display: inline;
    color: black;
    font-weight: bold;
}
.navbar ul li:active{
    display: inline;
    color: black;
    font-weight: bold;
}
.navbar ul li:focus{
    display: inline;
    color: black;
    font-weight: bold;
}